.monaco-editor { position: absolute !important; }

html,
body {
  background-color: var(--color-background-default);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Lato, sans-serif;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li.no-style {
  list-style-type: none;
}

.log-lines {
  max-width: 1080px;
  overflow: auto;
}

li.dense > pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  width: 100%;
  display: grid;
  grid-template-rows: 60px auto 1px;
}

/* Top Navigation */
header {
  display: flex;
  height: 60px;
  font-size: 18px;
}
.logo {
  width: 50%;
  margin: 1em;
  font-size: 20px;
}
.topnav {
  width: 50%;
  margin: 1.2em;
}

/* Content Section */
section {
  height: 100%;
  padding: 0;
  margin: 0;
}
section .docs {
  display: flex;
  height: 100%;
}
section .sidenav {
  min-width: 180px;
  font-size: smaller;
}
section .guide {
  width: auto;
  padding: 1.5em;
}

/* Footer */
footer {
  height: 1px;
}

/* Theme */
.app-container {
  a {
    color: var(--color-text-default);
  }
  header {
    background-color: var(--color-background-default);
    color: var(--color-text-default);
  }
  section {
    border-top: 1px solid var(--color-border-muted);
    background-color: var(--color-background-default);
    color: var(--color-text-default);
  }
  section a {
    background-color: var(--color-background-default);
  }
  footer {
    background-color: var(--color-background-default);
    color: var(--color-text-default);
  }
  input {
    color: var(--color-text-default);
  }
}
